@use '/src/styles/mixinsAndFunctions' as *;

@media (max-width: 500px) {
    .hero-block {
        &__main {
            flex-direction: column;

            .text-block {
                align-items: center;
                text-align: center;
            }

            .videolinkDesktop {
                display: none;
            }

            .videolinkMobile {
                display: block;
            }

            .hero-button__svg {
                display: none;
            }
        }
    }
}