@use '/src/styles/mixinsAndFunctions' as *;

.hero-button {
    column-gap: matchingLayout(16);
    min-width: matchingLayout(323);
    min-height: matchingLayout(82);
    padding: min(matchingLayout(24)) min(matchingLayout(48));
    margin-top: 3%;
    margin-left: 5%;
    margin-bottom: 3%;
    color: var(--white-color);

    &:visited, &:hover, &active{
        color: var(--white-color);
    }

    &__svg {
        width: matchingLayout(25.5);
        height: matchingLayout(25.5);
    }
}