@use '/src/styles/mixinsAndFunctions' as *;

.hero-block {
    width: 100%;
    height: 100dvh;
    background-image: url(/src/images/preview-image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: auto;

    &__main {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        margin-top: calc(100vw / (1440 / 280));
        
        .text-block {
            @include flex;
            flex-direction: column;
            align-items: flex-start;
            color: var(--white-color);
            max-width: 60%;
            /* margin-top: 15%; */
            margin-left: 5%;

            &__title {
                font-family: var(--font-family-title);
                font-size: fontSizeTitle(64);
                font-weight: 500;
            }

            &__paragraph {
                font-family: var(--font-family-base);
                font-size: fontSize(20);
                font-weight: 400;
            }
        }

        .videolinkDesktop {
            width: videoLinkSize();
            height: videoLinkSize();
            margin-top: 10%;
            margin-right: 20%;

            &__svg {
                width: videoLinkSize();
                height: videoLinkSize();
            }
        }

        .videolinkMobile {
            display: none;
            min-width: infoBlockButtonWidth();
            min-height: infoBlockButtonHeight();
            padding: min(infoBlockButtonPaddingVertical()) min(infoBlockButtonPaddingHorizontal());
            padding-bottom: min(infoBlockButtonPaddingVertical());
            margin-top: 3%;
            margin-left: 5%;
            font-family: var(--font-family-base);
            font-size: fontSize(24);
            color: var(--white-color);
            font-weight: 400;
            border: var(--border);
            border-radius: var(--border-radius-button);
            background: var(--grey-color);
            backdrop-filter: var(--blur-filter); 
            white-space: nowrap;
            text-decoration: none;
        }

        .hero-button {
            min-width: infoBlockButtonWidth();
            min-height: infoBlockButtonHeight();
            padding: min(infoBlockButtonPaddingVertical()) min(infoBlockButtonPaddingHorizontal());
            padding-bottom: min(infoBlockButtonPaddingVertical());
            margin-top: 3%;
            margin-left: 5%;
            font-family: var(--font-family-base);
            font-size: fontSize(24);
            color: var(--white-color);
            font-weight: 400;
            border: var(--border);
            border-radius: var(--border-radius-button);
            background: var(--grey-color);
            backdrop-filter: var(--blur-filter); 
            white-space: nowrap;

            &__svg {
                width: phoneIconSize();
                height: phoneIconSize();
            }
        }
    }
}




