@use '/src/styles/mixinsAndFunctions' as *;

@media (max-width: 800px) {
    .hero-button {
        border-radius: 12px;
    }
}

@media (max-width: 500px) {
    .hero-block {
        &__main {
            flex-direction: column;

            .text-block {
                margin: 0;
                align-items: center;
                text-align: center;
            }

            .video-link-desktop {
                display: none;
            }

            .video-link-mobile {
                display: flex;
            }

            .hero-button {
                min-width: matchingLayout(723);
                min-height: matchingLayout(122);
                margin-left: 0;

                &__svg {
                    display: none;
                }
            }
        }
    }
}