@use '/src/styles/mixinsAndFunctions' as *;

@keyframes headerInputAppearance {
    from {
        max-width: 0px;
    }
    to {
        max-width: 193px;
    }
}


@keyframes headerBurgerActive {
    0% {
        transform: none;
    }
    100% {
        transform: rotate(90deg);
    }
}


@keyframes headerBurgerActive2 {
    0% {
        transform: none;
    }
    100% {
        transform: translateY(-8px) rotate(-45deg);
    }
}