@font-face {
    font-family: 'Inter';
    src: url(../fonts/Inter-Regular.woff2);
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url(../fonts/Inter-SemiBold.woff2);
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Outfit';
    src: url(../fonts/Outfit-Medium.woff2);
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url(../fonts/Poppins-Regular.woff2);
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}