@use '/src/styles/mixinsAndFunctions' as *;

@media (max-width: 2000px) {
    .carousel-markers {
        column-gap: matchingLayout(5);

        .carousel-dot {
            width: matchingLayout(10);

            &::after {
                width: matchingLayout(10);
                height: matchingLayout(10);
            }
        }
    }
}

@media (max-width: 1100px) {
    .arrow-left-button, .arrow-right-button {
        width: calc(matchingLayout(80) * 1.3);
        height: calc(matchingLayout(80) * 1.3);
    }

    .carousel-markers {
        column-gap: matchingLayout(7);

        .carousel-dot {
            width: matchingLayout(14);

            &::after {
                width: matchingLayout(14);
                height: matchingLayout(14);
            }
        }
    }
}

@media (max-width: 1300px) {
    .dialog-close-button {
        min-width: 40px;
        min-height: 40px;
        top: -65px;
        &__svg {
            width: 40px;
            height: 40px;
        }
    }
}

@media (max-width: 850px) {
    .arrow-left-button, .arrow-right-button {
        width: calc(matchingLayout(80) * 1.5);
        height: calc(matchingLayout(80) * 1.5);
    }

    .carousel-markers {
        column-gap: matchingLayout(7);
    }
}

@media (max-width: 730px) {
    .dialog-close-button {
        min-width: 30px;
        min-height: 30px;
        top: -55px;
        &__svg {
            width: 30px;
            height: 30px;
        }
    }
}

@media (max-width: 650px) {
    .header-slider {
        flex-direction: column;

        &__text-title, &__text-subtitle {
            text-align: center;
        }
    }

    .arrow-left-button, .arrow-right-button {
        width: calc(matchingLayout(80) * 1.7);
        height: calc(matchingLayout(80) * 1.7);
    }
    
    .carousel-markers {
        column-gap: matchingLayout(10);

        .carousel-dot {
            width: matchingLayout(20);

            &::after {
                width: matchingLayout(20);
                height: matchingLayout(20);
            }
        }
    }
}


@media (max-width: 510px) {
    .arrow-left-button, .arrow-right-button {
        width: calc(matchingLayout(80) * 2.5);
        height: calc(matchingLayout(80) * 2.5);
    }
}

@media (max-width: 400px) {
    .carousel-markers {
        column-gap: matchingLayout(12);

        .carousel-dot {
            width: matchingLayout(23);

            &::after {
                width: matchingLayout(23);
                height: matchingLayout(23);
            }
        }
    }
}

@media (max-width: 370px) {
    .arrow-left-button, .arrow-right-button {
        width: calc(matchingLayout(80) * 3.5);
        height: calc(matchingLayout(80) * 3.5);
    }
    .carousel-markers {
        column-gap: matchingLayout(20);

        .carousel-dot {
            width: matchingLayout(35);

            &::after {
                width: matchingLayout(35);
                height: matchingLayout(35);
            }
        }
    }
}