@use '/src/styles/mixinsAndFunctions' as *;

@media (max-width: 2000px) {
    .slider-gallery-markers {
        column-gap: matchingLayout(5);

        .gallery-dot {
            width: matchingLayout(10);
            height: matchingLayout(10);
        }
    }
}

@media (max-width: 1100px) {
    .arrow-left-button, .arrow-right-button {
        width: matchingLayout(100);
        height: matchingLayout(100);
    }

    .slider-gallery-markers {
        column-gap: matchingLayout(7);

        .gallery-dot {
            width: matchingLayout(14);
            height: matchingLayout(14);
        }
    }
}


@media (max-width: 910px) {
    .arrow-left-button, .arrow-right-button {
        width: matchingLayout(120);
        height: matchingLayout(120);
    }
}

@media (max-width: 850px) {
    .slider-gallery-markers {
        column-gap: matchingLayout(7);

        .gallery-dot {
            width: matchingLayout(14);
            height: matchingLayout(14);
        }
    }
}

@media (max-width: 650px) {
    .header-slider {
        flex-direction: column;

        &__text-title, &__text-subtitle {
            text-align: center;
        }
    }

    .arrow-left-button, .arrow-right-button {
        width: matchingLayout(150);
        height: matchingLayout(150);
    }

    .slider-gallery-markers {
        column-gap: matchingLayout(10);

        .gallery-dot {
            width: matchingLayout(20);
            height: matchingLayout(20);
        }
    }
}


@media (max-width: 400px) {
    .arrow-left-button, .arrow-right-button {
        width: matchingLayout(180);
        height: matchingLayout(180);
    }

    .slider-gallery-markers {
        column-gap: matchingLayout(12);

        .gallery-dot {
            width: matchingLayout(23);
            height: matchingLayout(23);
        }
    }
}

@media (max-width: 370px) {
    .slider-gallery-markers {
        column-gap: matchingLayout(20);

        .gallery-dot {
            width: matchingLayout(35);
            height: matchingLayout(35);
        }
    }
}