@mixin flex {
    display: flex;
    justify-content: center;
    align-items: center;
};

@mixin hover {
    @media (hover: hover) {
        &:hover {
            @content;
        }
    }

    @media (pointer: fine) {
        &:active {
            @content;
        }
    }

}


@function fontSize($desiredFont) {
    @return clamp(14px, calc(100vw / (1440 / $desiredFont)), 48px);
};


@function menuColumnGap() {
    @return calc(100vw / (1440 / 40));
};

@function inHeaderPadding() {
    @return calc(100vw / (1440 / 80));
};