:root {
    --dark-color: #0F1922;
    --dark-blue-color: #012E4D;
    --light-blue-color: #0097FF;
    --grey-color: rgba(255, 255, 255, 0.08);
    --white-color: #fff;
    --blur-filter: blur(8px);
    --translucent-color: 0.8;  /* opacity */

    --font-family-base: 'Inter', sans-serif;
    --font-family-title: 'Outfit', sans-serif; 
    --font-family-contacts: 'Poppins', sans-serif; 
    
    --border: 1px solid rgba(255, 255, 255, 0.04);
    --border-radius: 24px;

    --desktop-display-width: 1440px;
    
}