@use '/src/styles/mixinsAndFunctions' as *;

.picturesRightButton, .picturesLeftButton {
    display: none;
    justify-content: center;
    align-items: center;
    width: matchingLayout(120);
    height: matchingLayout(120);
    border: none;
    background: none;

    &-svg {
        width: matchingLayout(120);
        height: matchingLayout(120);
    }

}
