@use '/src/styles/mixinsAndFunctions' as *;

.information-dialog {
    height: 80dvh;
    border: none;
    color: var(--white-color);
    background: var(--dark-blue-color);
    font-size: fontSizeUniversal(20px, 30, 48px);
    overflow: visible;

    &::backdrop {
        background: var(--dark-color);
    }

    &__close-button {
        position: absolute;
        min-width: 30px;
        min-height: 30px;
        background: none;
        border: none;
        top: -60px;
        right: 0px;
        margin-top: 25px;

        &-svg {
            width: 30px;
            height: 30px;
        }
    }

    &__text {
        overflow-y: auto;   
        max-height: 100%; 

        &::-webkit-scrollbar {
            background-color: var(--dark-blue-color);
        }

        &::-webkit-scrollbar-thumb {
            background-color: var(--dark-color);
        }
    }
}