@use '/src/styles/mixinsAndFunctions' as *;

.packages-block__information-button {
        @include flex;
        column-gap: matchingLayout(16);
        min-width: matchingLayout(362);
        min-height: matchingLayout(66);
        margin-bottom: 3%;
        padding: matchingLayout(16) matchingLayout(40);

        .information-button__svg {
            width: matchingLayout(34);
            height: matchingLayout(34);
        }
}