@use '/src/styles/mixinsAndFunctions' as *;

@media (max-width: 910px) {
    .testimonial-block__pictures {
        .destinations-gallery {
            &__img {
                border-radius: 20px;
            }
        }
    }
}

@media (max-width: 650px) {
    .testimonial-block__pictures {
        .destinations-gallery {
            column-gap: matchingLayout(30);
            &__img {
                width: calc(matchingLayout(308) * 1.5 );
                height: calc(matchingLayout(440) * 1.5 );
                border-radius: 16px;

                &-3, &-4 {
                    display: none;
                }
            }
        }
    }
}

@media (max-width: 400px) {
    .testimonial-block__pictures {
        .testimonial-gallery {
            &__img {
                width: calc(matchingLayout(308) * 2 );
                height: calc(matchingLayout(440) * 2 );
                border-radius: 10px;

                &-2, &-3 {
                    display: none;
                }
            }
        }
    }
}