@use '/src/styles/mixinsAndFunctions' as *;

.header__burger {
        display: none;
        background: none;
        border: none;
        padding-top: calc(fontSize(14) / 2);

        @include hover {
            .line1, .line2, .line3 {
                stroke: var(--light-blue-color);
                transition: 0.3s;
            }
        }

        &-svg {
            width: calc(fontSize(14) * 2);
            height: calc(fontSize(14) * 2);

        }
}


//Анимация
.header__burger.active .line1 {
    transform: translateY(0px) translateX(8.5px) rotate(45deg);
}
        
.header__burger.active .line2 {
    opacity: 0;
    transform: scale(0);
}
        
.header__burger.active .line3 {
    transform: translateY(8.5px) translateX(-8.5px) rotate(-45deg);
}


