@use '/src/styles/mixinsAndFunctions' as *;

@media (max-width: 850px) { 
    .menu-link.not-dialog {
        display: none;
    } 

    .header__burger {
        display: block;
    }
}


@media (max-width: 940px) {
    .header__input {
        width: 160px;
    }
}

