@use '/src/styles/mixinsAndFunctions' as *;

@keyframes headerDialogAppearance {
    from {
        max-height: 0px;
    }
    to {
        max-height: 100dvh;
    }
}


.header__dialog {
    font-size: fontSizeBurgerMenu(25);
    position: fixed;
    top: 43px;
    width: 100vw;
    height: 100dvh;
    border: none;
    background-color: rgb(0, 0, 0);
    animation-name: headerDialogAppearance;
    animation-duration: 300ms;
    animation-timing-function: linear;
    z-index: 100;
    overflow: scroll;
}

.header__menu.dialog {
    padding-top: 30%;
    padding-bottom: 10%;
}

.header__menu-list.dialog {
    flex-direction: column;
}

.link.dialog {
    color: rgb(255, 255, 255);

    &:visited {
        color: rgb(255, 255, 255);
    }

    &::after {
        top: 150%;          
    }
}


.body-no-scroll {
 height: 100vh;
 overflow: hidden;
 position: fixed; 
 width: 100%;
 left: 0;
 top: 0;
 right: 0;
}