@use '/src/styles/mixinsAndFunctions' as *;

.header__searchButton {
    background: none;
    border: none;
    padding-top: calc(fontSize(14) / 2);

    @include hover {
        .colorSearch {
            stroke: var(--light-blue-color);
            transition: 0.3s;
        }
    }
        
    &-svg {
        width: calc(fontSizeUniversal(14px, 14, 48px) * 2);
        height: calc(fontSizeUniversal(14px, 14, 48px) * 2);
    }
}

.colorSearch {
    stroke: var(--dark-color);
}