@use '/src/styles/mixinsAndFunctions' as *;

@media (max-width: 1100px) {
    .arrowLeftButton, .arrowRightButton {
        width: matchingLayout(100);
        height: matchingLayout(100);
    }
}

@media (max-width: 910px) {
    .arrowLeftButton, .arrowRightButton {
        width: matchingLayout(120);
        height: matchingLayout(120);
    }

    .destinations-block__pictures {
        .destinations-gallery {
            &__img {
                border-radius: 20px;
            }
        }
    }
}

@media (max-width: 650px) {
    .destinations-block__header {
        flex-direction: column;

        .header-text__title, .header-text__subtitle {
            text-align: center;
        }
    }

    .arrowLeftButton, .arrowRightButton {
        width: matchingLayout(150);
        height: matchingLayout(150);
    }

    .destinations-block__pictures {
        .destinations-gallery {
            column-gap: matchingLayout(30);
            &__img {
                width: calc(matchingLayout(308) * 1.5 );
                height: calc(matchingLayout(440) * 1.5 );
                border-radius: 16px;

                &-3, &-4 {
                    display: none;
                }
            }
        }
    }

    .destinations-block__galleryMarkers {
        &-1, &-2, &-3, &-4 {
            width: matchingLayout(16);
            height: matchingLayout(16);
        }
    }
}

@media (max-width: 400px) {
    .arrowLeftButton, .arrowRightButton {
        width: matchingLayout(180);
        height: matchingLayout(180);
    }

    .destinations-block__pictures {
        .destinations-gallery {
            &__img {
                width: calc(matchingLayout(308) * 2 );
                height: calc(matchingLayout(440) * 2 );
                border-radius: 10px;

                &-2 {
                    display: none;
                }
            }
        }
    }

    .destinations-block__galleryMarkers {
        &-1, &-2, &-3, &-4 {
            width: matchingLayout(20);
            height: matchingLayout(20);
        }
    }
}