@use '/src/styles/mixinsAndFunctions' as *;

@media (max-width: 910px) {
    .destinations-block__pictures {
        .destinations-gallery {
            &__card {
                border-radius: 20px;
            }
        }
    }
}

@media (max-width: 650px) {
    .destinations-block__pictures {
        .destinations-gallery {
            column-gap: matchingLayout(30);
            &__card {
                width: calc(matchingLayout(308) * 1.3 );
                height: calc(matchingLayout(440) * 1.3 );
                border-radius: 16px;

            }
        }
    }
}

@media (max-width: 510px) {
    .destinations-block__pictures {
        .destinations-gallery {
            &__card {
                width: calc(matchingLayout(308) * 2);
                height: calc(matchingLayout(440) * 2 );
                border-radius: 10px;
            }
        }
    }
}

@media (max-width: 370px) {
    .destinations-block__pictures {
        .destinations-gallery {
            &__card {
                width: calc(matchingLayout(308) * 4.1);
                height: calc(matchingLayout(440) * 4.1 );
                border-radius: 10px;
            }
        }
    }
}